In [142]:
from config import api_key, secret_key
import time
import datetime
from binance.client import Client
import pandas as pd
import numpy as np

In [143]:
client = Client(api_key = api_key, api_secret = secret_key)
lines = client.get_klines(symbol = "BTCUSDT", interval = "1m", limit = 1000,startTime = 1596229260000)
df = pd.DataFrame(data = lines)

In [144]:
df.shape

(1000, 12)

In [145]:
for start_time in range(1596289260000, 1612375740001, 60000000):
    lines = client.get_klines(symbol = "BTCUSDT", interval = "1m", limit = 1000,startTime = start_time)
    df = df.append(pd.DataFrame(data = lines), ignore_index = True)

In [146]:
df.to_csv("binance_btcusd.csv")

In [147]:
df.shape

(269176, 12)

In [154]:
df["year"] = pd.to_datetime(df[0], unit = "ms").dt.year
df["month"] = pd.to_datetime(df[0], unit = "ms").dt.month
df["day"] = pd.to_datetime(df[0], unit = "ms").dt.day
df["hour"] = pd.to_datetime(df[0], unit = "ms").dt.hour + 3
df["minute"] = pd.to_datetime(df[0], unit = "ms").dt.minute

In [163]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,year,month,day,hour,minute,target
0,1.596229e+12,11322.049805,11323.019531,11294.000000,11297.150391,75.471275,1.596229e+12,8.534481e+05,1200.0,24.872009,281269.312500,0.0,2020.0,7.0,31.0,24.0,1.0,False
1,1.596229e+12,11298.559570,11332.019531,11297.070312,11330.860352,57.374001,1.596229e+12,6.492224e+05,1486.0,36.822922,416647.500000,0.0,2020.0,7.0,31.0,24.0,2.0,False
2,1.596229e+12,11331.089844,11350.059570,11330.860352,11347.440430,76.438370,1.596229e+12,8.670461e+05,1114.0,59.610737,676161.687500,0.0,2020.0,7.0,31.0,24.0,3.0,False
3,1.596229e+12,11347.440430,11365.280273,11347.440430,11363.269531,90.757347,1.596230e+12,1.030781e+06,1130.0,52.535248,596693.062500,0.0,2020.0,7.0,31.0,24.0,4.0,False
4,1.596230e+12,11363.459961,11365.519531,11363.269531,11364.080078,21.991909,1.596230e+12,2.499153e+05,332.0,4.848286,55096.554688,0.0,2020.0,7.0,31.0,24.0,5.0,False

In [159]:
df = df.astype("float32")

In [160]:
df["target"] = ((df[2]-df[1])/df[1])>=0.005

0.006438166849942045