В этом ноутбуке я буду делать функцию, которая будет преобразовывать список, который мы получим после вызова функции client.get_klines() в формат, для входа в нейросеть

In [1]:
from binance.client import Client
from config import api_key,secret_key

asset = "BTCUSDT"
client = Client(api_key = api_key, api_secret = secret_key)
test1 = client.get_klines(symbol = asset, interval = "1m", limit = 15)
print(test1)

[[1612819380000, '44219.81000000', '44285.92000000', '44207.47000000', '44280.08000000', '62.32115100', 1612819439999, '2758361.62060988', 2472, '34.77216400', '1539066.67621088', '0'], [1612819440000, '44280.07000000', '44294.80000000', '44206.96000000', '44241.48000000', '103.71947000', 1612819499999, '4589903.35490830', 2625, '32.44526600', '1435678.05324685', '0'], [1612819500000, '44240.20000000', '44250.00000000', '44148.00000000', '44164.31000000', '89.54441300', 1612819559999, '3958465.40516676', 2551, '23.85320900', '1054672.39239437', '0'], [1612819560000, '44164.31000000', '44238.37000000', '44119.95000000', '44188.91000000', '75.39729300', 1612819619999, '3330130.76745657', 2511, '27.56871500', '1217701.55174998', '0'], [1612819620000, '44188.91000000', '44265.29000000', '44165.81000000', '44240.90000000', '72.10208600', 1612819679999, '3186372.17244632', 2642, '34.97574700', '1545715.15843619', '0'], [1612819680000, '44240.91000000', '44400.00000000', '44206.54000000', '44389.24000000', '153.06181900', 1612819739999, '6783845.43112617', 4172, '97.57725400', '4325933.32150728', '0'], [1612819740000, '44389.57000000', '44400.00000000', '44324.30000000', '44397.95000000', '78.60056400', 1612819799999, '3486844.32690116', 2854, '34.53271200', '1532056.59347916', '0'], [1612819800000, '44397.95000000', '44625.00000000', '44397.95000000', '44577.86000000', '460.00427300', 1612819859999, '20482304.19753076', 9881, '332.12134100', '14786753.99881491', '0'], [1612819860000, '44577.86000000', '44599.63000000', '44350.00000000', '44407.79000000', '145.50742200', 1612819919999, '6472131.61101981', 4868, '67.88477700', '3020487.07158936', '0'], [1612819920000, '44407.79000000', '44457.78000000', '44187.04000000', '44253.96000000', '191.18591900', 1612819979999, '8475367.18799870', 4872, '76.24026000', '3380064.49449031', '0'], [1612819980000, '44253.96000000', '44386.58000000', '44174.81000000', '44216.12000000', '246.25524100', 1612820039999, '10908466.63105491', 3907, '51.72382400', '2291152.81491272', '0'], [1612820040000, '44224.44000000', '44293.06000000', '44155.20000000', '44233.73000000', '113.85477400', 1612820099999, '5033620.63693940', 3180, '51.30310000', '2268152.34399193', '0'], [1612820100000, '44233.73000000', '44233.73000000', '44127.96000000', '44203.51000000', '91.05615300', 1612820159999, '4022208.93517463', 3184, '38.95642300', '1721003.74254138', '0'], [1612820160000, '44201.94000000', '44203.50000000', '44070.09000000', '44154.75000000', '104.74933800', 1612820219999, '4623716.75518330', 2951, '38.03902200', '1679045.84815612', '0'], [1612820220000, '44154.75000000', '44200.00000000', '44096.12000000', '44152.10000000', '87.73608500', 1612820279999, '3874785.42984719', 2393, '45.24121600', '1998346.23549311', '0']]

Видим, что есть лишние столбцы, форматы строк, а не чисел, а также отсутствие столбцов месяца,дня и тд. Также, надо отмаштабировать

Соответственно, надо сделать следующее:

    1. Добавить столбцы месяца, дня, часа(+3), минуты
    
    2. Удалить столбцы, которых у нас нет в обучении
    
    3. Сделать тип данных float32
    
    4. Отмаштабировать, использую scaler, натренированный на обучающих данных

Сделаем все поэтапно для наглядности, а потом напишем резулльтирующую функцию

In [2]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import time



df = pd.DataFrame(data = test1)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,1612819380000,44219.81000000,44285.92000000,44207.47000000,44280.08000000,62.32115100,1612819439999,2758361.62060988,2472,34.77216400,1539066.67621088,0
1,1612819440000,44280.07000000,44294.80000000,44206.96000000,44241.48000000,103.71947000,1612819499999,4589903.35490830,2625,32.44526600,1435678.05324685,0
2,1612819500000,44240.20000000,44250.00000000,44148.00000000,44164.31000000,89.54441300,1612819559999,3958465.40516676,2551,23.85320900,1054672.39239437,0
3,1612819560000,44164.31000000,44238.37000000,44119.95000000,44188.91000000,75.39729300,1612819619999,3330130.76745657,2511,27.56871500,1217701.55174998,0
4,1612819620000,44188.91000000,44265.29000000,44165.81000000,44240.90000000,72.10208600,1612819679999,3186372.17244632,2642,34.97574700,1545715.15843619,0

In [4]:
#добавим месяцы, часы, дни и минуты
df["month"] = pd.to_datetime(df[0], unit = "ms").dt.month
df["day"] = pd.to_datetime(df[0], unit = "ms").dt.day
df["hour"] = pd.to_datetime(df[0], unit = "ms").dt.hour + 3
df["minute"] = pd.to_datetime(df[0], unit = "ms").dt.minute

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,month,day,hour,minute
0,1612819380000,44219.81000000,44285.92000000,44207.47000000,44280.08000000,62.32115100,1612819439999,2758361.62060988,2472,34.77216400,1539066.67621088,0,2,8,24,23
1,1612819440000,44280.07000000,44294.80000000,44206.96000000,44241.48000000,103.71947000,1612819499999,4589903.35490830,2625,32.44526600,1435678.05324685,0,2,8,24,24
2,1612819500000,44240.20000000,44250.00000000,44148.00000000,44164.31000000,89.54441300,1612819559999,3958465.40516676,2551,23.85320900,1054672.39239437,0,2,8,24,25
3,1612819560000,44164.31000000,44238.37000000,44119.95000000,44188.91000000,75.39729300,1612819619999,3330130.76745657,2511,27.56871500,1217701.55174998,0,2,8,24,26
4,1612819620000,44188.91000000,44265.29000000,44165.81000000,44240.90000000,72.10208600,1612819679999,3186372.17244632,2642,34.97574700,1545715.15843619,0,2,8,24,27

In [6]:
#удалям ненужные столбцы
df = df.drop(columns = [0,6,11])

In [8]:
#преобразуем тип данных
df = df.astype("float32")

In [12]:
#обчаем scaler на обучающих данных
df_to_fit_scaler = pd.read_csv("df_to_fit_scaler.csv")
scaler = MinMaxScaler()
scaler.fit(df_to_fit_scaler)

MinMaxScaler()

In [13]:
df_to_fit_scaler.head()

,1,2,3,4,5,7,8,9,10,month,day,hour,minute
0,11322.05,11323.02,11294.00,11297.15,75.471279,8.534482e+05,1200,24.872009,281269.304392,7,31,21,1
1,11298.56,11332.02,11297.07,11330.86,57.373999,6.492224e+05,1486,36.822923,416647.500196,7,31,21,2
2,11331.09,11350.06,11330.86,11347.44,76.438368,8.670462e+05,1114,59.610735,676161.703455,7,31,21,3
3,11347.44,11365.28,11347.44,11363.27,90.757347,1.030781e+06,1130,52.535249,596693.051054,7,31,21,4
4,11363.46,11365.52,11363.27,11364.08,21.991909,2.499153e+05,332,4.848286,55096.556460,7,31,21,5

In [14]:
scal = scaler.transform(df)

In [15]:
scal.shape

(15, 13)

вот, получили необходимый формат для входа в нейросеть

теперь можем объединить все и написать итоговую функцию

In [16]:
#функция будет принимать на вход список из 15 данных об последних минутах, а также обученный объект для маштабирования
def convert(array, scaler):
    df = pd.DataFrame(data = array)
    #добавляем данные из timestamp
    df["month"] = pd.to_datetime(df[0], unit = "ms").dt.month
    df["day"] = pd.to_datetime(df[0], unit = "ms").dt.day
    df["hour"] = pd.to_datetime(df[0], unit = "ms").dt.hour + 3
    df["minute"] = pd.to_datetime(df[0], unit = "ms").dt.minute
    #удаляем ненужные столбцы
    df = df.drop(columns = [0,6,11])
    #преобразуем в нужный тип данных
    df = df.astype("float32")
    #маштабируем
    result = scaler.transform(df)
    return result

In [17]:
#Посмотрим, сколько времени будет выполняться наша преобразование к нужному формату
start_time = time.time()
print(convert(test1,scaler))
print(time.time() - start_time)

[[1.0726225  1.0728744  1.0752347  1.0745031  0.02726522 0.04833274
  0.10851148 0.01795891 0.04027944 0.09090909 0.23333335 1.0434783
  0.3898305 ]
 [1.074505   1.0731515  1.0752188  1.0732974  0.0453768  0.0804255
  0.1152276  0.01675713 0.03757362 0.09090909 0.23333335 1.0434783
  0.40677965]
 [1.0732595  1.0717539  1.073375   1.0708867  0.03917528 0.06936128
  0.11197928 0.01231956 0.02760219 0.09090909 0.23333335 1.0434783
  0.42372882]
 [1.0708888  1.071391   1.0724977  1.0716553  0.03298598 0.05835143
  0.11022343 0.01423852 0.03186888 0.09090909 0.23333335 1.0434783
  0.44067797]
 [1.0716573  1.0722308  1.0739318  1.0732791  0.03154434 0.05583245
  0.11597384 0.01806406 0.04045344 0.09090909 0.23333335 1.0434783
  0.45762712]
 [1.0732816  1.0764334  1.0752056  1.0779129  0.06696386 0.11886833
  0.18313506 0.0503961  0.11321548 0.09090909 0.23333335 1.0434783
  0.47457626]
 [1.0779256  1.0764334  1.0788883  1.078185   0.03438739 0.06109741
  0.12527984 0.01783524 0.04009598 0.09090909 0.23333335 1.0434783
  0.4915254 ]
 [1.0781872  1.0834528  1.0811915  1.0838048  0.20124981 0.35889634
  0.43373865 0.17153198 0.38698918 0.09090909 0.23333335 1.0434783
  0.5084746 ]
 [1.0838072  1.0826613  1.079692   1.0784924  0.06365884 0.1134064
  0.21368684 0.03506071 0.0790502  0.09090909 0.23333335 1.0434783
  0.5254237 ]
 [1.0784947  1.078236   1.0745958  1.0736872  0.08364298 0.14850761
  0.21386243 0.0393761  0.08846083 0.09090909 0.23333335 1.0434783
  0.5423729 ]
 [1.0736893  1.0760146  1.0742133  1.0725052  0.10773556 0.19114104
  0.17150258 0.026714   0.05996254 0.09090909 0.23333335 1.0434783
  0.55932206]
 [1.0727673  1.0730971  1.0736     1.0730553  0.04981095 0.08820043
  0.13959001 0.02649671 0.05936059 0.09090909 0.23333335 1.0434783
  0.5762712 ]
 [1.0730574  1.0712463  1.0727483  1.0721114  0.03983666 0.07047821
  0.13976559 0.02011997 0.04504098 0.09090909 0.23333335 1.0434783
  0.59322035]
 [1.0720644  1.0703031  1.0709385  1.0705881  0.04582736 0.08101799
  0.12953778 0.01964616 0.04394288 0.09090909 0.23333335 1.0434783
  0.6101695 ]
 [1.0705903  1.0701939  1.0717525  1.0705054  0.03838414 0.06789501
  0.10504368 0.0233659  0.0522994  0.09090909 0.23333335 1.0434783
  0.62711865]]
0.025943756103515625